<script src="~/Scripts/Game Core/phaser.min.js"></script>
<script src="~/Scripts/Game Core/GameController.js"></script>
<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> First Game Tutorial</div>
            <div class="panel-body text-center">
                I created this website as my first attempt to learn web games development, using the phaser io framework.
                Below is the result of following the "Make your first game" tutorial on the phaser <a href="https://phaser.io/tutorials/making-your-first-phaser-game">website</a>.
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body well-lg">
                <div id="GameWindow">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Instructions </div>
            <div class="panel-body well-sm">
                <div>
                    <ul>
                        <li><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Move Left</li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Move Right</li>
                        <li><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Jump</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>