<script src="~/Scripts/Game Core/phaser.min.js"></script>
<script src="~/Scripts/Game Core/GameController.js"></script>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> First Game</div>
            <div class="panel-body text-center" id="GameWindow">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Instructions </div>
            <div class="panel-body text-center">

            </div>
        </div>
    </div>
</div>